.fieldWrapper{
    position: absolute;
    left: calc(50vw - 40vmin);
    top: calc(50vh - 40vmin);
}
.field{
    border: 1px solid black;
}
.fieldLine {
    display: flex;
}


.stoneFrame{
    border: 1px solid black;
}
.stoneFrame div{
    width: 90%;
    height: 90%;
    margin: 5%;
    position: relative;
}


.stoneElement{
    background-size: 100% !important;
    border-radius: 50%;
}
.stoneElement span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.player1Info{
    position: absolute;
    left: 2.5vmax;
    top: 2.5vmax;
    width: 10vmax;
    height: 8vmax;
}
.player2Info{
    position: absolute;
    right: 2.5vmax;
    top: 2.5vmax;
    width: 10vmax;
    height: 8vmax;
}
.playerInfo{
    display: grid;
    grid-template-columns: 66% 1fr;
    grid-template-rows: 40% 40% 1fr;
    opacity: 0.5;
    transition: opacity 500ms ease, transform 500ms ease;
}

.infoStoneFrame{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: 2px solid #000000;
}
.nextInfoStoneFrame{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 2px solid #000000;
}
.infoStone{
    width: 90%;
    height: 90%;
    margin: 5%;
}

.playerInfoName{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: center;
    border: 2px solid #000000;
}

.playerInfoPoint{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
    border: 2px solid #000000;
}

.turnPlayer{
    opacity: 1;
    transform: scale(1.2, 1.2);
}