body {
  margin: 0;
  overflow: hidden;
}

#root{
  width: 100vw;
  height: 100vh;
}

.fullScreen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
}

.fadeTrans{
  transition: visibility 500ms ease, opacity 500ms ease;
}